<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vue v2.2.4</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="vue.min.js"></script>
        <script>
        window.onload=function(){
            new Vue({
                el:".box", //选择器
                data: {
                    msg: 'Hello Vue!',
                    num: 12,
                    arr: ["basic","good","best"],
                    json: {a:"apple",b:"banana",c:"orange"}
                },
                methods:{
                    show: function(){
                        this.arr.push("tomato")
                    }
                }
            });
        };
        </script>
    </head>
    <body>
        <div class="box">
            <input type="text" v-model="msg">
            <input type="text" v-model="msg">
            <br>
            {{msg}}
            <br>
            {{num}}
            <br>
            {{arr}}
            <br>
            {{json}}
            <hr>
            <ul>
                <li v-for="value in arr">
                    {{value}}
                </li>
            </ul>
            <hr>
            <ul>
                <li v-for="(k,v) in json">
                    {{k}} {{v}} 
                </li>
            </ul>
            <hr>
            <!--函数放在methods中-->
            <input type="button" value="按钮" v-on:mouseover="show()">
        </div>
    </body>
</html>